ROCKET_SECRET_KEY=
ROCKET_DB_PATH=
ROCKET_STAFF_PORTAL_URL=http://localhost:8000/staff
ROCKET_STAFF_API_URL=http://localhost:8080
ROCKET_DEBUG=0
ROCKET_COOKIE_SECURE=0

MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=
MICROSOFT_REDIRECT_URI=http://localhost:8000/booking/auth/microsoft/callback
ROCKET_EMAIL_FROM=rocketpubserver@outlook.com
